$mobile-s: 320px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$laptop-4k: 2560px;

@mixin mobile-s {
    @media only screen and (min-width: $mobile-s) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: $tablet) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (min-width: $laptop) {
        @content;
    }
}

@mixin laptop-l {
    @media only screen and (min-width: $laptop-l)
     {
        @content;
    }
}

@mixin laptop-4k {
    @media only screen and (min-width: $laptop-4k)
     {
        @content;
    }
}

